# Ignore build outputs and caches
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
.bundle/

# Node
node_modules/
assets/js/main.min.js

# OS/filesystem noise
.DS_Store
Thumbs.db

# Notebooks
.ipynb_checkpoints/

*.log
*.synctex*
*.toc
*.aux


files/JOB_APPS
